<h2>Редагувати категорію</h2>

<%= form_with(model: @category, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :name, "Назва категорії", class: "form-label" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, "Опис", class: "form-label" %>
    <%= form.text_area :description, class: 'form-control', rows: 3 %>
  </div>

  <div>
    <%= form.submit "Оновити", class: "btn btn-dark" %>
    <%= link_to "Назад", categories_path, class: "btn btn-dark" %>
  </div>
<% end %>