<h2>Нова категорія</h2>

<%= form_with(model: @category || Category.new) do |f| %>
  <div class="mb-3">
    <%= f.label :name, "Назва категорії", class: "form-label" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :description, "Опис", class: "form-label" %>
    <%= f.text_area :description, class: 'form-control', rows: 3 %>
  </div>

  <div class="mb-3">
    <%= f.submit "Створити", class: "btn btn-dark" %>
    <%= link_to "Назад", categories_path, class: "btn btn-dark" %>
  </div>
<% end %>
