<h2>Транзакції</h2>

<table class="table">
  <thead class="table-light">
    <th>Категорія</th>
    <th>Тип транзакції</th>
    <th>Опис</th>
    <th>Сума</th>
    <th>Дата створення</th>
    <th> </th>
    <th> </th>
    <th> </th>
  </thead>
  <tbody>
    <% if @transactions.any? %>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.category.name %></td>
          <td><%= transaction.transaction_type %></td>
          <td><%= transaction.description %></td>
          <td><%= transaction.total %></td>
          <td><%= transaction.created_at.strftime("%d.%m.%Y %H:%M") if transaction.created_at %></td>
          <td><%= link_to "Показати", transaction_path(transaction), class: "btn btn-dark" %></td>
          <td><%= link_to "Редагувати", edit_transaction_path(transaction), class: "btn btn-dark" %></td>
          <td><%= link_to "Видалити", transaction, method: :delete, data: { confirm: "Видалити?", "turbo-method": :delete }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="8">Немає транзакцій</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="mt-1">
  <%= link_to "Додати транзакцію", new_transaction_path, class: "btn btn-dark" %>
</div>
