<h2>Деталі транзакції</h2>

<p><strong>Категорія:</strong><%= @category.name %></p>

<p><strong>Тип:</strong> <%= @transaction.transaction_type %></p>
<p><strong>Опис:</strong> <%= @transaction.description %></p>
<p><strong>Сума:</strong> <%= @transaction.total %> грн</p>

<p><%= link_to "Редагувати", edit_transaction_path(@transaction) %></p>
<p><%= link_to "Назад", transactions_path %></p>

